@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body{
    background-color: #E3E9FD;
    padding-top: 100px;
} */

.inputbox{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    background-color: #AF7EEB;
    margin: 50px auto;
    max-width: 90%;
    /* height: auto; */
    text-align: center;
    padding: 25px;
    border: none;
    border-radius: 10px;
    /* margin-bottom: 80px; */
}
.text-box{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #3d3d3d;
    width: 80%;
    padding: 20px 25px 20px 25px;
    border-radius: 50px;
    border: none;
    /* margin: 10px 10px; */
}
.addText{
  margin-left: 10px;
  height: auto;
  padding: 0px 40px;
  border: none;
  border-radius: 50px;
}

 /* Display Box */
 .displaybox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin: 50px auto;
  max-width: 100%;
  text-align: center;
  padding: 35px 0px;
  border: none;
  border-radius: 10px;
 }
 .eachTask{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  text-transform: capitalize;
  border-bottom: #eee 1px solid;
 }
 .eachtask .del{
  color: #d11a2a;
 }
 .comptask{
  background-color: #d11a2a;
  opacity: 0.8;
  color: #fff;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  text-transform: capitalize;
  border-bottom: #eee 1px solid;
 }